*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

h1{
    margin-bottom: 50px;
    text-align: center;
}
fieldset{
    padding: 50px;
    margin: 50px;
    background-color:black;
    border-radius: 5px;
    
}

button{
    margin-top: 10px;
    border-radius: 5px;
}
img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.container {
    display: flex;
}

.inline{
    flex: 0 0 auto;
}
.column{
    background-color: red;
    flex: 0.8;
    border: 1px solid #b9b99c;
    padding: 10px;
    border-radius: 10px;

}
button{
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    background-color: #fc7d7d;
    border: none;
}
table{
    margin-top: 50px;
    text-align: center;
}
th{
    padding-right: 50px;
    padding-left: 50px;
}

/*.column{
    background-color: #4c948c;
    border: 1px solid #ccc; 
    padding: 10px;
  }*/